<div class="feature-area pt-80 pb-70">
    <div class="container">
        <div class="row  align-items-center">
            <div class="col-md-4">
                <!--Section Title Start-->
                <div class="section-title feature-section-title">
                    <h2>Neden beni<br> <span>tercih</span> etmelisin?</h2>
                    <p>Sunmuş olduğum çalışma alanlarında müvekkillerimi en iyi şekilde temsil ediyor ve mahkemelerde başarıya ulaştırıyorum.</p>
                </div>
                <!--Section Title End-->
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <!--Single Feature Start-->
                        <div class="single-feature">
                            <h2>Deneyim</h2>
                            <p>Çalıştığım alanlarda birçok mahkemeye katılarak avukatlık meslek deneyimine sahibim.</p>
                        </div>
                        <!--Single Feature End-->
                    </div>
                    <div class="col-md-6">
                        <!--Single Feature Start-->
                        <div class="single-feature">
                            <h2>Strateji</h2>
                            <p>Müvekkillerim için en iyi stratejik yolu belirler ve üzerinde profesyonelce bir çalışma sergilerim.</p>
                        </div>
                        <!--Single Feature End-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 


		<!--About Area Start-->
		<div class="about-area">
		    <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="about-wrapper black-bg pt-100 pb-100">
                            <div class="row align-items-center">
                                <!--About Image Area Start-->
                                <div class="col-md-5">
                                    <div class="about-img">
                                        <img src="img/about/about.jpg" alt="">
                                        <a class="venobox" data-vbtype="video" data-gall="gall-video" data-autoplay="true" href="https://youtu.be/lxxzvg6a4Ig"><i class="icofont icofont-play-alt-3"></i></a>
                                    </div>
                                </div>
                                <!--About Image Area End-->
                                <!--About Content Area Start-->
                                <div class="col-md-7">
                                    <div class="about-content">
                                        <span>Deneyimli Ve Uzman</span>
                                        <h1>Hey! Ben Avukat Ramazan Aslan</h1>
                                        <h5>Alanında Uzman Bir Avukat</h5>
                                        <p>Ben Avukat Ramazan Aslan , müvekkillerime avukatlık ve danışmanlık 
                                            hizmeti vermekteyim ve çalışma alanlarımda müvekkillerinin sorunlarını verimli bir şekilde çözmekteyim.</p>
                                  
                                    </div>
                                </div>
                                <!--About Content Area End-->
                            </div>
                        </div>
                    </div>
                </div>
		    </div>
		</div>
		<!--About Area End--> 

<hr>
