<%- include('_header') %>

		<!-- Page Banner Area Start-->
		<div class="page-banner-area bg-img-3 pt-95 pb-90">
		    <div class="container">
		        <div class="row">
		            <div class="page-banner-content col-12 text-center">
                        <h2>Benim Hakkımda</h2>
                        <p>Hakkımda daha fazla bilgi edinin...</p>
		                <ul class="breadcrumb-pagination">
		                    <li><a href="index.html">Anasayfa</a></li>
		                    <li>Hakkımda</li>
		                </ul>
		            </div>
		        </div>
		    </div>
		</div>
		<!-- Page Banner Area End-->

		<%- include('_hakkinda') %>

		<br><br><br><br><br><br><br><br><br><br><br>

		<%- include('_footer') %>